.about-page{
  background-color: #000000;
}
.profile-pic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: .5rem;
}
.about-logo {
  background-size: 15rem;
}
.pimages {
  background-color: #000000;
}
.top-section  {
  height: 28rem;
  background-image: url('../assets/bg_image.png');
  background-size: cover;
}
.we-are{
  font-weight: bolder;
  font-size: 2.4rem;
  letter-spacing:.02rem;
  padding-top: 8rem;
}
.blkbg {
  background-color: #000000;
  padding: .3rem;
}
.about-story {
  color: $beige;
}
