.social-top{
  height: 28rem;
  background-image: url('../assets/bg_image.png');
  background-size: cover;
}
.change-message{
  background-color: #000;
  color: $beige
}
.slider-img {
  height: 28rem;
}
.bbg {
  background-color: #000;
}

.change-header{
  font-weight: bolder;
  font-size: 2.4rem;
  letter-spacing:.02rem;
  padding-top: 8rem;
}
