.top-contact {
  height: 28rem;
  background-image: url('../assets/bg_image.png');
  background-size: cover;
}
.aweeh {
  font-size: 2.4rem;
  font-weight: 900;
  padding-top: 10rem;
  letter-spacing:.02rem;
}
.beige {
  color: $beige;
  font-size: 1.8rem;
  letter-spacing:.04rem;
}
.blkbg {
  margin-top: 2rem;
}
.padd {
  margin-top: 4rem;
}
.light {
  font-weight: 100;
}
.heavy {
  font-weight: 400;
}
