.foot {
  background-color: #000;
}
.social-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-child {
  display: inline-block;
  margin-right: .5rem;
  margin-left: .5rem;
}

.social-logo {
  width: 3rem;
  height: 3rem;
}
