.l-page {
  background-color: rgba(0,0,0, 0.7);
  .carla-quote {
    font-weight: 600;
    letter-spacing: .08rem;
    font-size: 1.2rem;
    color: $beige;
  }
  .quote-name {
    letter-spacing: .05rem;
    font-weight: 200;
    font-size: 1.2rem;
    color: $beige;
  }
  .color-logo {
    height: 36rem;
    margin-top: 7rem;
  }
  .quote-box {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  .l-video {
  	height: 20rem;
  }
}
