.l-page {
  background-color: rgba(0,0,0, 0.7);
  .carla-quote {
    font-weight: bold;
    letter-spacing: .05rem;
    color: $beige;
  }
  .quote-name {
    letter-spacing: .05rem;
    color: $beige;
  }
  .color-logo {
    height: 36rem;
  }
}
