.l-page {
  .carla-quote {
    font-weight: bold;
    letter-spacing: .05rem;
    color: $beige;
  }
  .quote-name {
    letter-spacing: .05rem;
    color: $beige;
  }
  .color-logo {
    height: 33rem;
  }
}
